doctype html
html(lang="en")
	head
		title Stream
		link(rel='stylesheet' href='/css/watchVideo.css')
	body(background='/rickandmorty/RnMbg.jpg')
		include /partials/header
		div#bigContainer
			include /partials/left-bar
			div#videoContainer
				include /partials/select-bar-RnMS02
				div.videoNavi
					a(href="../e02" class="videoNavi--next")
						i(class="fa fa-arrow-right fa-2x fa-1x" aria-hidden="true")
				video#videoPlayer
					source(src="RnMS02E01.mp4")
		include /partials/videoControl