div#select-border
	select#select-bar
		option.select-episode(value="/gameofthrones/s04/e01/") Episode 01 - Two Swords
		option.select-episode(value="/gameofthrones/s04/e02/") Episode 02 - The Lion and the Rose
		option.select-episode(value="/gameofthrones/s04/e03/") Episode 03 - Breaker of Chains
		option.select-episode(value="/gameofthrones/s04/e04/") Episode 04 - Oathkeeper
		option.select-episode(value="/gameofthrones/s04/e05/") Episode 05 - First of His Name
		option.select-episode(value="/gameofthrones/s04/e06/") Episode 06 - The Laws of Gods and Men
		option.select-episode(value="/gameofthrones/s04/e07/") Episode 07 - Mockingbird
		option.select-episode(value="/gameofthrones/s04/e08/") Episode 08 - The Mountain and the Viper
		option.select-episode(value="/gameofthrones/s04/e09/") Episode 09 - The Watchers on the Wall
		option.select-episode(value="/gameofthrones/s04/e10/") Episode 10 - The Children