div#select-border
	select#select-bar
		option.select-episode(value="/gameofthrones/s03/e01/") Episode 01 - Valar Dohaeris
		option.select-episode(value="/gameofthrones/s03/e02/") Episode 02 - Dark Wings, Dark Words
		option.select-episode(value="/gameofthrones/s03/e03/") Episode 03 - Walk of Punishment
		option.select-episode(value="/gameofthrones/s03/e04/") Episode 04 - And Now His Watch Is Ended
		option.select-episode(value="/gameofthrones/s03/e05/") Episode 05 - Kissed by Fire
		option.select-episode(value="/gameofthrones/s03/e06/") Episode 06 - The Climb
		option.select-episode(value="/gameofthrones/s03/e07/") Episode 07 - The Bear and the Maiden Fair
		option.select-episode(value="/gameofthrones/s03/e08/") Episode 08 - Second Sons
		option.select-episode(value="/gameofthrones/s03/e09/") Episode 09 - The Rains of Castamere
		option.select-episode(value="/gameofthrones/s03/e10/") Episode 10 - Mhysa