div#select-border
	select#select-bar
		option.select-episode(value="/gameofthrones/s06/e01/") Episode 01 - The Red Woman
		option.select-episode(value="/gameofthrones/s06/e02/") Episode 02 - Home
		option.select-episode(value="/gameofthrones/s06/e03/") Episode 03 - Oathbreaker
		option.select-episode(value="/gameofthrones/s06/e04/") Episode 04 - Book of the Stranger
		option.select-episode(value="/gameofthrones/s06/e05/") Episode 05 - The Door
		option.select-episode(value="/gameofthrones/s06/e06/") Episode 06 - Blood of My Blood
		option.select-episode(value="/gameofthrones/s06/e07/") Episode 07 - The Broken Man
		option.select-episode(value="/gameofthrones/s06/e08/") Episode 08 - No One
		option.select-episode(value="/gameofthrones/s06/e09/") Episode 09 - Battle of the Bastards
		option.select-episode(value="/gameofthrones/s06/e10/") Episode 10 - The Winds of Winter