div#select-border
	select#select-bar
		option.select-episode(value="/gameofthrones/s07/e01/") Episode 01 - Dragonstone
		option.select-episode(value="/gameofthrones/s07/e02/") Episode 02 - Stormborn
		option.select-episode(value="/gameofthrones/s07/e03/") Episode 03 - The Queen's Justice
		option.select-episode(value="/gameofthrones/s07/e04/") Episode 04 - The Spoils of War
		option.select-episode(value="/gameofthrones/s07/e05/") Episode 05 - Eastwatch
		option.select-episode(value="/gameofthrones/s07/e06/") Episode 06 - Beyond the Wall
		option.select-episode(value="/gameofthrones/s07/e07/") Episode 07 - The Dragon and the Wolf