div#select-border
	select#select-bar
		option.select-episode(value="/gameofthrones/s05/e01/") Episode 01 - The Wars to Come
		option.select-episode(value="/gameofthrones/s05/e02/") Episode 02 - The House of Black and White
		option.select-episode(value="/gameofthrones/s05/e03/") Episode 03 - High Sparrow
		option.select-episode(value="/gameofthrones/s05/e04/") Episode 04 - Sons of the Harpy
		option.select-episode(value="/gameofthrones/s05/e05/") Episode 05 - Kill the Boy
		option.select-episode(value="/gameofthrones/s05/e06/") Episode 06 - Unbowed, Unbent, Unbroken
		option.select-episode(value="/gameofthrones/s05/e07/") Episode 07 - The Gift
		option.select-episode(value="/gameofthrones/s05/e08/") Episode 08 - Hardhome
		option.select-episode(value="/gameofthrones/s05/e09/") Episode 09 - The Dance of Dragons
		option.select-episode(value="/gameofthrones/s05/e10/") Episode 10 - Mother's Mercy