div#select-border
	select#select-bar
		option.select-episode(value="/rickandmorty/s01/e01/") Episode 01 - Pilot
		option.select-episode(value="/rickandmorty/s01/e02/") Episode 02 - Lawnmower Dog
		option.select-episode(value="/rickandmorty/s01/e03/") Episode 03 - Anatomy Park
		option.select-episode(value="/rickandmorty/s01/e04/") Episode 04 - M. Night Shaym-Aliens!
		option.select-episode(value="/rickandmorty/s01/e05/") Episode 05 - Meeseeks and Destroy
		option.select-episode(value="/rickandmorty/s01/e06/") Episode 06 - Rick Potion #9
		option.select-episode(value="/rickandmorty/s01/e07/") Episode 07 - Raising Gazorpazorp
		option.select-episode(value="/rickandmorty/s01/e08/") Episode 08 - Rixty Minutes
		option.select-episode(value="/rickandmorty/s01/e09/") Episode 09 - Something Ricked This Way Comes
		option.select-episode(value="/rickandmorty/s01/e10/") Episode 10 - Close Rick-counters of the Rick Kind
		option.select-episode(value="/rickandmorty/s01/e11/") Episode 11 - Ricksy Business