div#select-border
	select#select-bar
		option.select-episode(value="/gameofthrones/s02/e01/") Episode 01 - The North Remembers
		option.select-episode(value="/gameofthrones/s02/e02/") Episode 02 - The Night Lands
		option.select-episode(value="/gameofthrones/s02/e03/") Episode 03 - What Is Dead May Never Die
		option.select-episode(value="/gameofthrones/s02/e04/") Episode 04 - Garden of Bones
		option.select-episode(value="/gameofthrones/s02/e05/") Episode 05 - The Ghost of Harrenhal
		option.select-episode(value="/gameofthrones/s02/e06/") Episode 06 - The Old Gods and the New
		option.select-episode(value="/gameofthrones/s02/e07/") Episode 07 - A Man Without Honor
		option.select-episode(value="/gameofthrones/s02/e08/") Episode 08 - The Prince of Winterfell
		option.select-episode(value="/gameofthrones/s02/e09/") Episode 09 - Blackwater
		option.select-episode(value="/gameofthrones/s02/e10/") Episode 10 - Valar Morghulis