div#select-border
	select#select-bar
		option.select-episode(value="/rickandmorty/s03/e01/") Episode 01 - The Rickshank Redemption
		option.select-episode(value="/rickandmorty/s03/e02/") Episode 02 - Rickmancing the Stone
		option.select-episode(value="/rickandmorty/s03/e03/") Episode 03 - Pickle Rick
		option.select-episode(value="/rickandmorty/s03/e04/") Episode 04 - Vindicators 3: The Return of Worldender
		option.select-episode(value="/rickandmorty/s03/e05/") Episode 05 - The Whirly Dirly Conspiracy
		option.select-episode(value="/rickandmorty/s03/e06/") Episode 06 - Rest and Ricklaxation
		option.select-episode(value="/rickandmorty/s03/e07/") Episode 07 - The Ricklantis Mixup
		option.select-episode(value="/rickandmorty/s03/e08/") Episode 08 - Morty's Mind Blowers
		option.select-episode(value="/rickandmorty/s03/e09/") Episode 09 - The ABCs of Beth
		option.select-episode(value="/rickandmorty/s03/e10/") Episode 10 - The Rickchurian Mortydate