div#select-border
	select#select-bar
		option.select-episode(value="/rickandmorty/s02/e01/") Episode 01 - A Rick in Time
		option.select-episode(value="/rickandmorty/s02/e02/") Episode 02 - Mortynight Run
		option.select-episode(value="/rickandmorty/s02/e03/") Episode 03 - Auto Erotic Assimilation
		option.select-episode(value="/rickandmorty/s02/e04/") Episode 04 - Total Rickall
		option.select-episode(value="/rickandmorty/s02/e05/") Episode 05 - Get Schwifty
		option.select-episode(value="/rickandmorty/s02/e06/") Episode 06 - The Ricks Must Be Crazy
		option.select-episode(value="/rickandmorty/s02/e07/") Episode 07 - Big Trouble in Little Sanchez
		option.select-episode(value="/rickandmorty/s02/e08/") Episode 08 - Interdimensional Cable 2: Tempting Fate
		option.select-episode(value="/rickandmorty/s02/e09/") Episode 09 - Look Who's Purging Now
		option.select-episode(value="/rickandmorty/s02/e10/") Episode 10 - The Wedding Squanchers