@import '../modules/index.scss';
@import '../common.scss';
@import '../partials/left-bar.scss';
@import '../partials/header.scss';
@import '../partials/select-bar.scss';

#timeTilSeason {
    font-size: 1.5em;
    text-align: center;
    margin: 0 10em 0 0;
}

#liveStreamStatus {
    font-size: 1em;
    margin: 0 15em 0 0;
    text-align: center;
}

#liveStreamStatus em {
	color: red;
	font-style: normal;
}

#streamPlayer {
	text-align: center;
	display: inline-block;
	width: 100%;
	min-height: 30em;

}

#chat {
	margin: 0 2px 0 1em;
	height: 30em;
	width: 13em;
	display: inline-block;
}

#bigStreamContainer {
    margin: -0.3em 0 0 0;
    min-width: 81em;
    overflow: hidden;
    display: inline-block;
}

#streamContainer {
    margin: 0 0 0 2em;
    width: 50em;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#streamPlayer::-webkit-media-controls {
  display:none !important;
}