@import '../common.scss';
@import './index.css';

.videoNavi {
	text-align: center;
	display: inline-block;
	&--prev {
		padding: 0 1em 0 1em;
	}
	&--next {
		padding: 0 0 0 1em;
	}
}

#videoPlayer {
	width: 100%;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 33px); /* Adjust as needed */
}
