doctype html
html(lang="en")
head
	title Stream
	link(rel='stylesheet' href='/css/index.css')
body
	include /partials/header
	div#bigStreamContainer
		include /partials/left-bar
		p#timeTilSeason 
		p#liveStreamStatus Livestream is #[em offline]
		div#streamContainer
			//- object#streamPlayer
			//- 	param(name="movie" value="http://138.68.235.157/StrobeMedia/for%20Flash%20Player%2010.1/StrobeMediaPlayback.swf")
			//- 	param(name="flashvars" value="src=rtmp%3A%2F%2F138.68.235.157%2Fdubnation%2Ftest&optimizeBuffering=false&initialBufferTime=0&autoPlay=true")
			//- 	param(name="allowFullScreen" value="true")
			//- 	param(name="allowscriptaccess" value="always")
			//- 	param(name="wmode" value="direct")
			//- 	embed(src="http://138.68.235.157/StrobeMedia/for%20Flash%20Player%2010.1/StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" flashvars="src=rtmp%3A%2F%2F138.68.235.157%2Fdubnation%2Ftest&optimizeBuffering=false&initialBufferTime=0&autoPlay=true")
			video#streamPlayer(autoPlay)
				source#videoSource
		div#chat
			script(id="cid0020000165930761874" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;") {"handle":"dubstreams","arch":"js","styles":{"a":"006BB6","b":100,"c":"FFFFFF","d":"FFFFFF","k":"006BB6","l":"006BB6","m":"006BB6","n":"FFFFFF","p":"10","q":"006BB6","r":100,"t":0,"fwtickm":1, "showhdr":0,"showx":0}}
	script.
		$(document).ready(function(){
			var end = new Date('10/17/2017');
			var _hour = 1000 * 60 * 60;
			var _day = _hour * 24;

			function showRemaining() {
				var now = new Date();
					var distance = end - now;
					if (distance < 0) {
						document.getElementById('timeTilSeason').innerHTML = null;
						return;
					}
					var days = Math.floor(distance / _day);
		
				document.getElementById('timeTilSeason').innerHTML = "NBA Season starts in " + days + " days";
			}

			showRemaining();

			var streamStatusOnline = false;
			//- timer = setInterval(showRemaining, 1000);
			function streamOnline(movieName) {
				$("#liveStreamStatus").html("<em>Now Playing</em> " + movieName);
				$("em").css("color", "green");
				$("em").css("font-style", "normal");
			}
			function streamOffline() {
				$("#liveStreamStatus").html("Livestream is <em>offline</em");
				$("em").css("color", "red");
				$("em").css("font-style", "normal");
			}
			function playMovie(movieStart, movieLength, movieName, fileType, callback) {
				var updateMovie = setInterval(function(){
					movieTime = Math.floor((new Date).getTime()/1000) - movieStart;
					if ((movieTime >= 0) && (movieTime < movieLength)) {
						if (streamStatusOnline == false) {
							streamOnline(movieName);
							streamStatusOnline = true;
							$('#videoSource').attr('src', movieName.replace(/\s+/g, '') + fileType + '#t=' + movieTime);
							$('#streamPlayer')[0].load()
						}
					} else if (movieTime > movieLength || streamStatusOnline == true) {
							streamOffline();
							streamStatusOnline = false;
							clearInterval(updateMovie);
							if (callback) {
								callback(movieStart + movieLength);
							}
					}
				}, 1000);
				var videoPlayer = document.getElementById("streamPlayer");
				videoPlayer.onclick = function() {
					playVideo(Math.floor((new Date).getTime()/1000) - movieStart);
				}
			}
			playMovie(convertDate(9, 17, 16, 20), getVideoLength(2, 10, 35), "Shutter Island", ".mp4", function(movieStart) {
				playMovie(movieStart, getVideoLength(1, 47, 35), "The Incredibles", ".mp4", function(movieStart) {
					playMovie(movieStart, getVideoLength(2, 31, 15), "There Will Be Blood", ".mp4", function(movieStart) {
						playMovie(movieStart, getVideoLength(2, 25, 39), "The Dark Knight", ".mp4");
					});
				});
			});

			var videoPlayer = document.getElementById("streamPlayer");
			var canPause = true;
			function playVideo(videoTime) {
				var playPromise = false
				if (videoPlayer.paused) {
					canPause = false;
					videoPlayer.currentTime = videoTime;
					videoPlayer.play().then(function() {
					canPause = true;
					})
				} else if (canPause === true) {
					videoPlayer.pause();
				}
			}
			

			videoPlayer.ondblclick = function() {
				if (isFullScreen() == false) {
					fullScreen();
				} else {
					exitFullScreen();
				}
			}

			function isFullScreen() {
				if (document.fullScreen || 
					document.mozFullScreen || 
					document.webkitIsFullScreen) {
					return true;
					} else {
					return false;
					}		
			}

			function fullScreen() {
				if (videoPlayer.requestFullscreen) {
				  videoPlayer.requestFullscreen();
				} else if (videoPlayer.mozRequestFullScreen) {
				  videoPlayer.mozRequestFullScreen();
				} else if (videoPlayer.webkitRequestFullscreen) {
				  videoPlayer.webkitRequestFullscreen();
				}		
			}
			function exitFullScreen() {
				if (document.exitFullscreen) {
					document.exitFullscreen();
				} else if (document.webkitExitFullscreen) {
					document.webkitExitFullscreen();
				} else if (document.mozCancelFullScreen) {
					document.mozCancelFullScreen();
				} else if (document.msExitFullscreen) {
					document.msExitFullscreen();
				}
			};
			function getVideoLength(hours, minutes, seconds) {
				return ((hours * 3600) + (minutes * 60) + seconds);
			};

			function convertDate(month, day, hour, minute) {
				var date = new Date(2017, month - 1, day, hour, minute, 0);
				var utcDate = new Date(date.toUTCString());
				return (Math.floor(utcDate.getTime()/1000));
			};
			$(document).keydown(function(event) {
				if (event.keyCode == 38) {
					if (videoPlayer.volume + 0.1 <= 1) {
						videoPlayer.volume += 0.1;	
					}
				}
				if (event.keyCode == 40) {
					if (videoPlayer.volume - 0.1 >= 0) {
						videoPlayer.volume -= 0.1;
					}
				}
			});
			$("#streamPlayer").bind("contextmenu",function(){
				return false;
			});
		});