doctype html
html(lang="en")
	head
		title Dubstreams
		link(rel="icon" href="/public/favicon.ico")
		link(rel='stylesheet' href='/css/watchVideo.css')
	body(background='/rickandmorty/RnMbg.jpg')
		include /partials/header
		div#bigContainer
			include /partials/left-bar
			div#videoContainer
				include /partials/select-bar-RnMS02
				div.videoNavi
					a(href="../e02" class="videoNavi--prev")
						i(class="fa fa-arrow-left fa-2x" aria-hidden="true")
					a(href="../e04" class="videoNavi--next")
						i(class="fa fa-arrow-right fa-2x" aria-hidden="true")
				video#videoPlayer
					source(src="RnMS02E03.mp4")
		include /partials/videoControl