#banner {
	margin: 0 0 0 .3em;
	border-radius: 7px;
	margin: 10px 0 20px 10px;
	width: 100%;
}

#title {
	color: #FFC72D;
	font-size: 42px;
}

#sub-title {
	color: #121212;
	margin: -0.3em 0 0 2em;
	font-size: 16px;
}