#select-bar {
    font: normal 17px "Tahoma", Arial, Helvetica, sans-serif;
    display: inline-block;
}

#select-border {
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 40%;
    min-width: 26em;
    border-radius: 4px;
    display: inline-block;
}

select {
    padding: 6px;
}

option {
    color: #ffffff;
}