doctype html
html(lang="en")
	head
		title Stream
		link(rel='stylesheet' href='/css/watchVideo.css')
	body(background='/rickandmorty/RnMbg.jpg')
		include /partials/header
		div#bigContainer
			include /partials/left-bar
			div#videoContainer
				include /partials/select-bar-RnMS01
				div.videoNavi
					a(href="../e04" class="videoNavi--prev")
						i(class="fa fa-arrow-left fa-2x" aria-hidden="true")
					a(href="../e06" class="videoNavi--next")
						i(class="fa fa-arrow-right fa-2x" aria-hidden="true")
				video#videoPlayer
					source(src="RnMS01E05.mkv")
		include /partials/videoControl