doctype html
html(lang="en")
	head
		title Dubstreams
		link(rel="icon" href="/public/favicon.ico")
		link(rel='stylesheet' href='/css/watchVideo.css')
	body(background='/gameofthrones/GoTbg.jpg')
		include /partials/header
		div#bigContainer
			include /partials/left-bar
			div#videoContainer
				include /partials/select-bar-GoTS04
				div.videoNavi
					a(href="../e07" class="videoNavi--prev")
						i(class="fa fa-arrow-left fa-2x" aria-hidden="true")
					a(href="../e09" class="videoNavi--next")
						i(class="fa fa-arrow-right fa-2x" aria-hidden="true")
				video#videoPlayer
					source(src="GoTS04E08.mkv")
		include /partials/videoControl